@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-Bold.eot');
    src: local('Axiforma Bold'), local('Axiforma-Bold'),
        url('../fonts/Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Axiforma-Bold.woff') format('woff'),
        url('../fonts/Axiforma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-Medium.eot');
    src: local('Axiforma Medium'), local('Axiforma-Medium'),
        url('../fonts/Axiforma-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Axiforma-Medium.woff') format('woff'),
        url('../fonts/Axiforma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-SemiBold.eot');
    src: local('Axiforma SemiBold'), local('Axiforma-SemiBold'),
        url('../fonts/Axiforma-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Axiforma-SemiBold.woff') format('woff'),
        url('../fonts/Axiforma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-Regular.eot');
    src: local('Axiforma Regular'), local('Axiforma-Regular'),
        url('../fonts/Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Axiforma-Regular.woff') format('woff'),
        url('../fonts/Axiforma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

